<a href="https://colab.research.google.com/github/mariettesoninhekpon/DataDose-Challenge/blob/main/DataDose_Python_Challenge_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1: Create a list called cubed_list that includes the cube of each odd number and the square of each even number from the original list.

In [ ]:
number=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_list = [x**2 for x in number]
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Task 2: Create a list called cubed_list that includes the cube of each odd number and the square of each even number from the original list.

In [ ]:
number=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cubed_list = [(x**3) if x % 2 == 1 else (x**2) for x in number]

print(cubed_list)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]