<a href="https://colab.research.google.com/github/mariettesoninhekpon/DataDose-Challenge/blob/main/DataDose_Python_Challenge_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1- Create a list of names of 5 people you know. Then, using Python code, print the second name on the list.

In [ ]:
names = ["Bella", "Tanja", "Farhana", "Gideon", "Heba"]

print(names[1])

Tanja

2- Create an empty list called numbers in Python.

In [ ]:
numbers=[]

numbers.append(5)
numbers.append(8)
numbers.append(12)

print(numbers)

[5, 8, 12]

3- Print the first and last elements of the numbers list.

In [ ]:
print(numbers[0])
print(numbers[2])

5
12

4- Create a new list called numbers2 containing the numbers from 1 to 10 (inclusive) using a for loop.

In [ ]:
numbers2 = []
for number in range (1, 11):
  numbers2.append(number)
  print (numbers2)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

5- Print the length of numbers2 list

In [ ]:
print(len(numbers2))

10

6- Append the numbers 11, 12, and 13 to the numbers2 list.

In [ ]:
for i in range (11, 14):
  numbers2.append(i)

7- Print the sorted version of numbers2

In [ ]:
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

8- Use the index method to find the index of the number 6 in numbers2

In [ ]:
print(numbers2.index(6))

5

9- Remove the number 3 from numbers2

In [ ]:
numbers2.remove(3)

In [ ]:
print(numbers2)

[1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

10- Print the sum of all the numbers in numbers2

In [ ]:
sum (numbers2)

88